.nav {
    grid-area: n;
    background-color: #141f25;
    padding: 20px;
}
.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color: mediumslateblue;
    /*color: white;*/
}